{% extends "base.html" %}

{% block head %}
{{block.super}}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block content %}

<div class="container">
  <h1>Interactive Data Visualization</h1>
  <!--<p class="lead">Here we go...</p>-->
  <hr>
</div>

<!-- /.container -->

<div class="container">
  <div class="row" style="border: 1px solid black">
    {# <div id="plot_container" class="col-md-8 col-md-offset-2">{{plot|safe}}</div>#}
    <div class="col-md-12">{{plot|safe}}</div>
  </div>
</div>
<!-- /.container -->


<div class="container">
  <hr>
  <!--<p>-->
    <!--&nbsp;-->
  <!--</p>-->
  <a class="btn btn-primary pull-right" href="{% url 'index' %}"> Go back to index...</a>
</div>

{% endblock %}
